<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="condorcet.appinfo3.groupe4.enigwall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleKey" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Inscription">
        </activity>
        <activity
            android:name=".HubActivity"
            android:label="Hub">
        </activity>
        <activity android:name=".LoginActivity"
            android:label="Connexion">
        </activity>
        <activity android:name=".GameActivity"
            android:label="Game"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".RateActivity"
            android:label="Rate">
        </activity>
    </application>
</manifest>